/node_modules
/public/hot
/public/storage
/public/agents
/public/clients
/public/managers
/storage/*.key
/storage
/app/jobs/UpdatePassword
/vendor
.env
.composer.lock
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
composer.lock
/config/laravel5-phumbor.php
